.intro-section {
    min-height: 600px;
    height: 100%
}

.intro-section:before {
    height: 50%;
}

.intro-section.patterns {
    min-height: 200px;
    height: 100%
}

.intro-section.patterns:before {
    height: 400px;
} 

.intro-container {
    height: 100%;
}

.intro-text-container {
    padding-top: 200px; 
    width: 400px;
}

.intro-image-container img  {
    max-width: 300px;
}

.intro-image-container {
    top: 10%;
}

@media (max-width: 1099px) {
    .intro-image-container {
        padding: 25px;
        position: unset;
        width: 200px;
    }   
}

@media (max-width: 1000px) {
    .intro-section:before {
        width: 100%;
    } 
}

.designer-text-container {
    width: 100%;
    color: #692640;
}

.resources-text-container {
    padding: 2rem 2rem 2rem 2rem;
}

.resource-item:hover {
    background: #edebe7;
    cursor: pointer;
}

.resource-item {
    background: #fafafa;
}

.resource-item.pattern {
    display: flex;
}

.pattern-meta-box {
    display: flex;
    flex-wrap: wrap;
}

.pattern-meta {
    margin: 0 10px;
    max-width: 400px;
}

.pattern-main-img {
    max-width: 100%;
    box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);
}

#jupiter, #cooky, #legwarmers {
    display: none;
}

.pattern-text-container {
    transition: 1sc ease-out;
}