body {
    background: #d3cfc569;
    color: #191919;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.7;
    margin: 0;
    text-align: left;
}
h1 {
    font-family: 'Fredericka the Great', cursive;
}
a {
    text-decoration: none;
}

/*Header*/
.navbar-container {
    align-items: baseline;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    width: 100%;
}
.logo {
    padding: 2% 0 0 2%;
    position: relative;
}
#site-logo {
    height: 55px;
}
.site-navigation {
    flex-grow: 3;
}
.navbar-container ul > li {
    display: inline-block;
    margin: 0 8%;
}
.nav-link {
    color: #fff;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
}
.nav-link.active {
    text-decoration: underline;
}
.contact-link {
    flex-grow: 1;
}
.contact-link .nav-link {
    border: solid 1px #692640;
    color: #692640;
    padding: 10px 20px;
}
.contact-link .nav-link:hover {
    background: #692640;
    color: #fff;
    transition: background-color 0.5s ease-in;
    transition: color 0.5s ease-out;
}
#mobileMenuToggle{
    display: none;
}
#mobileMenuToggle a {
    color: #232323;
    text-decoration: none;
    transition: color 0.3s ease;
}
#mobileMenuToggle a:hover {
    color: rgb(187, 102, 87);
} 
#mobileMenuToggle input {
    cursor: pointer;
    display: block;
    height: 32px;
    opacity: 0; /* hide this */
    position: absolute;
    top: -7px;
    left: -5px;
    -webkit-touch-callout: none;
    width: 40px;
    z-index: 2; /* and place it over the hamburger */
}
#mobileMenuToggle span {
    background: #cdcdcd;
    border-radius: 3px;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    z-index: 1;
  }
  #mobileMenuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #mobileMenuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  #mobileMenuToggle input:not(:checked) ~ #menu {
      display:none;
  }
  #mobileMenuToggle input:checked ~ span {
    background: #232323;
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }
  #mobileMenuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #mobileMenuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #mobileMenuToggle input:checked ~ ul {
    transform: none;
  }
  #menu {
    background: #fff;
    box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 225px;
    margin: -100px 0 0 -175px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li {
    font-size: 22px;
    padding: 10px 0;
  }



/*Intro Section */
.intro-section {
    height: 100vh;
    min-height: 1080px;
    position: relative;
}
.intro-section:before {
    background: #692640;
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
}
.intro-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: left;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 900px;
    position: relative;
}
.intro-text-container {
    color: #fff;
    padding: 100px 25px 0 25px;
    width: 400px;
}
.container-header-text {
    color: #fff;
    font-family: 'PT Serif', serif;
    font-size: 3rem;
}
.intro-image-container {
    position: relative;
    right: -21%;
    top: 4%;
    width: 400px;
}
.intro-image-container img  {
    box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);
    width: 100%;
}
@media (max-width: 1099px) {
    .intro-image-container {
        padding: 25px;
        position: unset;
        width: 400px;
    }   
}
@media (max-width: 1000px) {
    .intro-section:before {
        width: 100%;
    }
    .site-navigation, .contact-link {
        display: none;
    }
    #mobileMenuToggle {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
        -webkit-user-select: none;
        user-select: none;
        z-index: 101;
    } 
}

/*Shop section */
.shop-container {
    min-height: 600px;
    position: relative;
}
.contact-text-container, .resources-text-container, .shop-text-container {
    color: #692640;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10rem 2rem 2rem 2rem;
}
.shop-text-container .container-header-text, .resources-text-container .container-header-text, .contact-text-container .container-header-text
{
    color: #692640;
}
.hover-img:after {
    background:rgba(236, 235, 231, 0.67);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
    z-index: 1;
}
.hover-img:hover:after {
    opacity: 1;
    visibility: visible;
}
.hover-img:hover .hover-img-text {
    margin-top: 0px;
    opacity: 1;
    transition-delay: .2s;
    visibility: visible;
}
.hover-img-text {
    font-weight: 500;
    margin-top: 20px;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align:center;
    transition: .3s all ease;
    transition-delay: 0s;
    visibility: hidden;
    z-index: 2;
}
.resources-container, .contact-container {
    position: relative;
    height: 100vh;
    height: 100%;
    margin: 0 auto;
}

.resources-container {
    height: 100%;
}

.resource-section {
    display: flex;
    flex-wrap: wrap;
}

.resource-item {
    background: #fffc;
    display: block;
    flex-grow: 1;
    margin: 1em;
    width: 13em;
    padding: .75em;
    box-shadow: 0 4px 35px -5px rgba(0, 0, 0, 0.18);
    transition: background-color 0.5s ease;
}

.resource-item:hover{
    background: #d3cfc569;
    cursor: pointer;
}

.resource-item-title {
    position: relative;
    top: 0px;
    left: -70px;
    font-size: 1em;
}

.resource-item-icon {
    opacity: .4;
}

.contact-section {
    background: #fff;
    position: relative;
    height: 100vh;
    min-height: 600px;
    height: 100%;
}

.contact-container {
    margin: 0 auto;
    max-width: 1000px;
}

input, textarea {
    display: block;
    padding: 1%;
    width: 97%;
  }
  
  .hidden {
    display: none;
  }
  
  .contact-form-section {
    background: #edebe7;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.18);   
    margin: 1% 0;
    padding: 6%;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  .field label {
    font-size: 1.3em;
  }
  
  .submit-button {
    background: #fff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1%;
    width: 11em;

        border: solid 1px #692640;
        color: #692640;
        padding: 10px 20px;
    }
    
    .submit-button:hover {
        background: #692640;
        color: #fff;
        transition: background-color 0.5s ease-in;
        transition: color 0.5s ease-out;
  }
  

  .response {
    font-size: 1.5em;
  }

  footer {
    color: #fff;
    padding: 5em 0;
    background: #692640;
    text-align: center;
}

.footer-section {
    display: flex;
}

.footer-item {
    width: 400px;
}

footer ul li {
    list-style-type: none;
    text-align: left;

}

footer ul li a {
    color: #fff;
}

.footer-item .social {
    text-align: right;
    margin: 0 10px;
}